<br>
<button routerLink="/customer-add">Add</button>
<button routerLink="/item-add">Item Add</button>
<h2>Customer List</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nayeem Hossain</td>
            <td>nayeem.example.com</td>
            <td>123-456-7890</td>
        </tr>
        <tr>
            <td>Jahid Islam</td>
            <td>Jahid.example.com</td>
            <td>123-456-7890</td>
        </tr>
    </tbody>
</table>
